<div
  id='newCollectionFormContainer'
  class='bg-white shadow-md rounded-lg p-4 mb-6 hidden'
>
  <form
    id='newCollectionForm'
    method='POST'
    action='/tasks-collection/new'
    class='flex flex-row justify-between'
  >
    <div class="flex flex-row gap-4">
      <input
        type='text'
        id='newCollectionTitle'
        name='Title'
        placeholder='Enter collection name'
        required
        autofocus
        class='filter w-80 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500'
      />

      <input
        type='text'
        id='newCollectionDesc'
        name='Description'
        placeholder='Enter description'
        class='filter w-80 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500'
      />
    </div>

    <!-- Action Buttons -->
    <div class='flex justify-end gap-2'>
      <button
        type='submit'
        class='bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-200'
      >
        Save
      </button>
      <button
        type='button'
        id='cancelNewCollection'
        class='text-gray-600 hover:text-gray-800 px-4 py-2 rounded-md transition duration-200'
      >
        Cancel
      </button>
    </div>
    
    <input type='hidden' name='User_id' value='{{userId}}' />
  </form>
</div>