<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Task Collections</title>
  <link rel="stylesheet" href="./../style/style.css" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <style>
    body.no-scroll {
      overflow: hidden;
      height: 100vh;
    }
  </style>
</head>
<body class="min-h-screen flex flex-col {{#if noScroll}}no-scroll{{/if}}">
  <div class="flex flex-col min-h-screen">
    {{> navbar }}

    <main class="flex-1 flex flex-col">
      {{{body}}}
    </main>

    {{> footer }}
  </div>
</body>
</html>
