<div class="flex-grow p-2">
  {{> collectionListHeader}}
  {{> newCollectionForm}}

  <div class="collections-list overflow-y-auto">
    {{#each collections}}
      {{> collection}}
    {{/each}}

  </div>
</div>
<script src="/js/collection-scripts.js"></script>
<script src="/js/task-scripts.js"></script>
